<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.1" targetFramework="net452" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.1" targetFramework="net452" />
  <package id="DotNetWorkQueue" version="0.2.1" targetFramework="net452" />
  <package id="DotNetWorkQueue.Transport.RelationalDatabase" version="0.2.1" targetFramework="net452" />
  <package id="DotNetWorkQueue.Transport.SqlServer" version="0.2.1" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Polly" version="5.3.1" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.11" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net452" />
</packages>